body{
  font-family: 'Red Hat Display', sans-serif;
}

.background-img-top{
  background-image: url("../images/pattern-background-desktop.svg");
  height: 437px;
  max-width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.background-img-bottom{
  background-color: #e0e8ff;
  height: 760px;
  left: 0;
  position: absolute;
  transform: rotate(180deg);
  top: 60px;
  z-index: -2;
}

@media (min-width: 375px) {
  .card {
    width: 19rem;
    margin: 40px auto;
    border-radius: 1rem;
  }
}

@media (max-width: 375px) {
  .background-img-top{
    background-image: url("../images/pattern-background-mobile.svg");
    height: 194px;
    max-width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }
}


.card-img-top{
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}

.card{
  /* position: absolute; */
  /* top: 40px;
  left: 550px;
  right: auto; */
  margin: 100px auto;
  border-radius: 1rem;
}

.container{
  border-radius: 0.5rem;
  margin: 20px 0;
  padding: 20px 0;
  background-color: hsl(225, 100%, 98%) ;
}

.card-title{
  font-weight: 900;
  margin: 15px 0;
}

.card-text{
  font-size: 16px;
  color: grey;
}

.subs-icon{
  padding-right: 0;
}

.subscription{
  font-size: 16px;
  padding-left: 5px;
  text-align: left;
}

.subs-change-div{
  padding: 5px 0;
}

.href-link{
  font-size: 15px;
  font-weight: bold;
  color: hsl(245, 75%, 52%);
}

.payment-btn{
  color: white;
  background-color:  hsl(245, 75%, 52%);
  border-radius: 0.5rem;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 50px;
}

.cancel{
  font-size: 15px;
  font-weight: bold;
  color: grey;
}

.attribution{
  font-size: 12px;
  padding: 0 0 10px;
  text-align: center;
}

.real-links{
  font-weight: bold;
  color: hsl(245, 75%, 52%);
}
